@import "dropzone.scss";
@import "breakpoints.scss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

//BODY

body {
  background-color: $maroon;
  color: white;
  width: 100%;
  margin: 0;
  position: relative;
}

//HEADER

header {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 100px;
}

#logo {
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
}

.menu {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: SignPainter;
  margin-top: 50px;
  list-style: none;
  li {
    padding: 30px;
  }
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .logo {
    max-width: 200px;
    padding-top: 10px;
  }
  .icons {
    max-width: 80px;
    margin: 0 -25px;
    padding-right: 30px;
  }
  a {
    flex-grow: 1;
    color:$gray;
    text-decoration:none;
    text-align:center;
    padding: 15px;
    font-size: 2.5em;
  }
  a:hover {
    color: white
  }
}

//FOOTER

footer {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  position: relative;
  left: 0;
  bottom: 0;
  font-family: AmericanTypewriter;
  font-size: em(16px);
  letter-spacing: 2px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  ul {
    list-style: none;
    li {
      text-align: center;
      padding: 10px;
    }
  }
}

.footer-svg {
  max-width: 20px;
}

//HOME SCREEN

.home {
  color: $maroon;
  font-family: SignPainter;
  display: block;
    img {
      width: 700px;
      max-width: 100%;
      margin: auto;
      display: block;
      padding: 10px;
    }
    h1 {
      padding-top: 100px;
      padding-left: 110px;
      position: relative;
      margin-top: 0;
    }
  }

.backgroundthumb {
  height: 100vh;
  background-size: cover;
}

.enter {
  background-color: $maroon;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-family: SignPainter;
  margin: auto;
  width: 300px;
  max-width: 100%;
  display: block;
}

.enter-button {
  padding-top: 40px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

//ABOUT

.about {
  p {
    font-family: AmericanTypewriter;
    letter-spacing: 1px;
    line-height: 1.5;
      span {
        font-family: SignPainter;
        font-size: 80px;
        padding-bottom: 20px;
      }
    }
    h2 {
      font-family: BadGuyBlack;
      text-align: center;
      color: $yellow;
    }
  }

.about-container {
  padding: 10px;
}

#emailkern {
  letter-spacing: 2px;
}

iframe {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-bottom: 20px;
}

//EVENTS

.events {
  padding: 10px;
  padding-bottom: 100px;
}

.events-border {
  border: 4px solid $yellow;
  margin-bottom: 100px;
}

.expanded-wrapper,
.expand-container {
  width: 100%;
  background-color: $gray;
  font-family: AmericanTypewriter;
  font-size: em(20px);
  color: white;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin: auto;
  border: 4px solid $yellow;
  p {
    padding: 10px;
  }
  button {
    margin: 20px;
  }
}

.expanded-imagery {
  img {
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }
}

.expanded-wrapper {
  margin-bottom: 100px;
}

//BLOG

.blog {
  h2 {
    font-family: BadGuyBlack;
    font-size: em(30px);
    letter-spacing: 1.5px;
    text-align: center;
    color: $maroon;
  }
  h3 {
    font-family: BadGuyBlack;
    font-size: em(20px);
    color: $maroon;
  }
  img {
    max-width: 100%;
  }
  p {
    font-family: AmericanTypewriter;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  em {
    font-family: AmericanTypewriter;
    padding-bottom: 140px;
    color: white;
    margin-left: 45%;
    font-size: 1.5em;
  }
  .attachment-post-thumbnail {
    padding: 20px;
  }
  .view-article {
    display: none;
  }
}

.blog-large {
  padding: 20px;
  background-color: $gray;
  border: 4px solid $yellow;
  margin: 10px;
  img {
    max-width: 600px;
    max-height: 600px;
    width: 100%;
  }
  ul {
    font-family: AmericanTypewriter;
    letter-spacing: 1.5px;
    color: $maroon;
    line-height: 1.5;
  }
  button {
    margin-top: 20px;
  }
}

//Pagination Links Styling

.pagination {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
}

.next-post,
.prev-post {
  a {
  color: $yellow;
  font-family: AmericanTypewriter;
  font-size: 1.5em;
  text-decoration: underline;
  }
}

.prev-post {
  float: right;
}

.next-post {
  float: left;
}

.comments {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  background-color: $gray;
  padding: 20px;
  margin-bottom: 100px;
  border: 4px solid $yellow;
  h2,
  h3 {
    color: $yellow;
    font-family: BadGuyBlack;
  }
  #reply-title {
    text-align: center;
  }
  .logged-in-as {
    text-align: center;
  }
  .comment-form-comment {
    margin: auto;
    width: 800px;
    max-width: 100%;
  }
  a {
    color: white;
    font-family: AmericanTypewriter;
  }
  label {
    display: none;
  }
  .form-submit {
    float: right;
    input {
      color: white;
      border: 2px solid $yellow;
      background-color: transparent;
      padding: 15px;
      font-family: AmericanTypewriter;
      -webkit-box-shadow: 3px 4px 8px #666666;
      -moz-box-shadow: 3px 4px 8px #666666;
      box-shadow: 1px 2px 6px #666666;
    }
  }
  img {
    border-radius: 50%;
  }
  .comments_responses_date {
    color: $maroon;
  }
  .comments_responses_content {
    color: $maroon;
    font-family: AmericanTypewriter;
    font-size: 1.2em;
  }
  .comments_responses_reply {
    color: $maroon;
    text-decoration: underline;
    padding-bottom: 20px;
  }
}

//Blog Search Results

.search {
  section {
    width: 1500px !important;
    max-width: 100%;
    margin: auto;
    font-family: AmericanTypewriter;
  }
  h1 {
    color: $yellow !important;
    font-family: BadGuyBlack;
  }
  h2 {
    a {
      color: $yellow !important;
      font-family: BadGuyBlack;
    }
    .date,
    .author,
    .comment {
      display: none !important;
    }
  }
  .post,
  .date {
    color: white;
  }
  .author {
    color: $yellow;
    a {
      font-family: BadGuyBlack;
      color: $yellow;
    }
  }
  .comments {
    font-family: AmericanTypewriter;
    a {
      color: white;
    }
  }
  .post-edit-link {
    color: $yellow;
  }
}

//Expanded Blog Pages

.expand {
    h1 {
      font-family: BadGuyBlack;
      color: $yellow;
      text-align: center;
      font-size: em(30px);
      letter-spacing: 1px;
    }
    aside {
      font-family: AmericanTypewriter;
      letter-spacing: 1.5px;
      line-height: 1.5;
      font-size: 20px;
      h2 {
        color: $maroon;
        font-weight: bold;
      }
    }
    button {
      display: block;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 100px;
    }
    .description,
    .skills {
      padding: 10px;
    }
  }

.blog-expand-grid {
  img {
    max-width: 100%;
    width: 800px;
    margin: auto;
    display: block;
  }
}

//Scrollable Box on Expanded Blog Pages

.scrollable {
  width: 100%;
  max-width: 800px;
  height: 600px;
  overflow: scroll;
}

.expand-container {
  border: solid 4px $yellow;
}

//EVENTS

.events-container {
  background-color: $gray;
}

.events-border {
  width: 1800px;
  max-width: 100%;
  margin: auto;
}

.event {
  border-bottom: 7px dotted;
  border-color: white;
  text-align: center;
  &:last-child {
    border-bottom: none;
  }
  img {
    width: 100%;
    max-width: 300px;
    border: 5px solid;
    border-color: $maroon;
    margin-top: 30px;
  }
  p {
    font-family: AmericanTypewriter;
    font-size: em(30px);
  }
  h2 {
    font-family: SignPainter;
    font-size: em(50px);
  }
}

.date {
    font-family: AmericanTypewriter;
    span {
      font-family: BadGuyBlack;
      color: $yellow;
    }
  }

//FEATURED

.featured {
  p {
    font-family: AmericanTypewriter;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    padding: 20px;
    letter-spacing: 1px;
  }
}

.bwg_title_spun1_0 {
  span {
    color: white !important;
    font-family: AmericanTypewriter !important;
    font-size: 20px !important;
    font-weight: normal !important;
    background-color: rgba(82, 31, 25, 0.5);
    letter-spacing: 1px;
  }
}

//APPRAISALS

.appraisals-container {
  background-color: rgba(128,128,128, 0.4);
  padding: 20px;
  border: 1px solid $yellow;
  p {
    letter-spacing: 1.5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  textarea {
    border: 4px solid $yellow;
    opacity: 1;
    padding: 10px;
    font-size: em(20px);
    max-width: 800px;
  }
  button {
    font-size: em(30px);
  }
}

.dropzone,
.app-first,
.app-message,
.app-contact {
  p {
    font-family: AmericanTypewriter;
    display: inline;
    &:first-of-type {
      font-family: BadGuyBlack;
      color: $yellow;
    }
  }
}

.fallback {
  font-family: AmericanTypewriter;
}

#app_description {
  height: 280px;
}

.app-first,
.app-message{
  padding-bottom: 50px;
}

.app-contact {
  padding-bottom: 20px;
  div:first-child,
  div:nth-child(2) {
    padding-bottom: 15px;
  }
}

.app-button {
  width: 150px;
  padding-top: 20px;
  margin: auto;
}

//CONTACT

.form-container {
  color: $yellow;
  padding: 10px;
  width: 700px;
  max-width: 100%;
  margin: auto;
  img {
    max-width: 100px;
    padding: 5px;
    display: block;
    margin: auto;
  }
  h2 {
    font-family: BadGuyBlack;
    text-align: center;
  }
  .icons-div {
    width: 300px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 100px;
    img {
      display: inline;
      text-align: center;
      margin-left: 10%;
    }
  }
}

.wpcf7-submit {
  display: none;
}

.form-name,
.form-email,
.form-message,
.form-button {
  padding-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  opacity: 0.3;
  font-size: em(30px);
  width: 100%;
  max-width: 800px;
  resize: none;
  font-family: type;
  padding: 20px;
  border: 4px solid $yellow;
}

.wpcf7-not-valid-tip {
  color: white !important;
  font-family: AmericanTypewriter;
  padding-top: 5px;
}

.wpcf7-validation-errors {
  color: white;
  padding: 10px;
  font-family: AmericanTypewriter;
  border: 2px solid $yellow !important;
  text-align: center;
}

//Placeholder Webkits

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $maroon;
    font-family: AmericanTypewriter;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $maroon;
   opacity:  1;
   font-family: AmericanTypewriter;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $maroon;
   opacity:  1;
   font-family: AmericanTypewriter;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $maroon;
   font-family: AmericanTypewriter;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color:    $maroon;
   font-family: AmericanTypewriter;
}

.form-button {
  max-width: 100%;
  button {
    font-size: em(30px);
    color: white;
    background-color: transparent;
    opacity: 0.8;
  }
}

//SEARCH FORM

.search {
  input {
    opacity: 0.3;
    font-size: em(30px);
    width: 100%;
    max-width: 800px;
    resize: none;
    font-family: type;
    padding: 20px;
    border: 4px solid $yellow;
  }
  ul {
    list-style: none;
  }
}

//CATEGORIES POST PAGE

.archive {
  h1 {
    color: $yellow;
    font-family: BadGuyBlack;
    text-align: center;
  }
}

//CONTAINER DIV STYLING

.home-container,
.about-container,
.featured-container,
.blog-container,
.appraisals-container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  margin-bottom: 300px;
}

//ELEMENT STYLING

.about,
.featured,
.events,
.blog-body,
.blog,
.appraisals,
.contact {
  h1 {
    font-family: BadGuyBlack;
    color: $yellow;
    text-align: center;
    font-size: em(40px);
    letter-spacing: 1px;
  }
}

button {
  -webkit-box-shadow: 3px 4px 8px #666666;
  -moz-box-shadow: 3px 4px 8px #666666;
  box-shadow: 1px 2px 6px #666666;
  font-family: AmericanTypewriter;
  color: white;
  border: 2px solid $yellow;
  font-size: 20px;
  background: $maroon;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
    background: $yellow;
    text-decoration: none;
  }
}

//MODAL STYLING

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: rgba(128, 0, 0, 0.2);
  margin: 15% auto;
  padding: 20px;
  border: 4px solid $yellow;
  width: 80%;
  font-family: AmericanTypewriter;
  letter-spacing: 1.5px;
  font-size: em(20px);
  text-align: center;
}

.close {
  color: $yellow;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

//SIDEBAR STYLING

.sidebar {
  font-family: AmericanTypewriter;
  max-width: 400px;
  text-align: right;
  padding: 20px;
  ul {
    list-style-type: none;
  }
  h3 {
    color: $yellow;
    text-align: right;
  }
  a {
    color: white;
  }
  button {
    margin-top: 10px;
  }
}
