
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=ccfbf93e2b84ffb398463b232d8cc9ef
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress