
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e353e04fe2ed2505df24370a8822d635
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress